table {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: 5px solid rgba(24, 24, 24, 0.891);
  border-radius: 10px;
  box-shadow: -8px 12px rgba(38, 36, 36, 0.344);
}

tr {
  height: 15vh;
}

td {
  height: 100px;
  text-align: center;
  border: none;
}

input {
  height: 85%;
  width: 95%;
  border-radius: 10px;
  cursor: pointer;
  font-family: monospace;
  box-shadow: -3px 5px rgba(38, 36, 36, 0.344);
}

input[type="button"] {
  font-size: 3.5em;
  background-color: eee;
}

input[type="text"] {
  text-align: right;
  font-size: 4em;
  cursor: default;
  background-image: linear-gradient(
    to right,
    rgba(24, 148, 44, 0.583),
    rgba(24, 148, 45, 0.234)
  );
  border: 3px solid rgba(7, 49, 14, 0.72);
}

.sign {
  background-color: #bbb;
}

#equals {
  background-color: rgba(226, 32, 32, 0.481);
}
